src/main/app/maven-22.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="HTTP_Listener_Configuration2" protocol="HTTPS" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration">
        <tls:context>
            <tls:trust-store type="jks"/>
            <tls:key-store type="pkcs12" path="localserver_1.p12" alias="localserver_1" keyPassword="Kasi@123" password="Kasi@123"/>
        </tls:context>
    </http:listener-config>
    <flow name="maven-22Flow">
        <http:listener config-ref="HTTP_Listener_Configuration2" path="/localapi" doc:name="HTTP"/>
        <set-payload value="#[&quot;welcome-to-usa&quot;]" doc:name="Set Payload"/>
    </flow>
</mule>
